<!DOCTYPE html>

<html>

    <title>

        Fruits and Vegetables

    </title>

    <script src="https://kit.fontawesome.com/5471644867.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="css/Fruits Category Page CSS.css">

    <body>