<!DOCTYPE html>

<html>

    <title>

        Medicines

    </title>

    <script src="https://kit.fontawesome.com/5471644867.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="css/Medicine Category Page CSS.css">

    <body>